language: python
os:
  - linux
matrix:
  fast_finish: true
  include:
  - python: 2.7
  - python: 3.6
  - python: 3.7
    dist: xenial
  - python: pypy
  - python: pypy3
install:
  - pip install -U setuptools>=39.2.0
  - python setup.py develop
script: python setup.py test

