# Runs the unit tests for the pyroma package
# Based on https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test package

on: [pull_request, push]

env:
  FORCE_COLOR: 1

jobs:
  build:
    name: Run package tests

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.11', 'pypy-3.7']

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install package
        run: pip install -e .[test]
      - name: Run tests
        run: python -bb -X dev -W ignore::UserWarning:setuptools.dist -m unittest -v pyroma.tests
